<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout D-4</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrap">
        <aside id="aside">
            <h1 class="logo">로고</h1>
            <nav class="nav">메뉴</nav>
        </aside>
        <main id="main">
            <article id="slider">이미지 슬라이드</article>
            <article id="link">링크</article>
            <section id="contents">
                <div class="content1">공지사항</div>
                <div class="content2">갤러리</div>
            </section>
        </main>
        <footer id="footer">
            <div class="footer1">로고</div>
            <div class="footer2">
                <div class="footer2-1">COPYRIGHT</div>
                <div class="footer2-2">하단 메뉴</div>
            </div>
            <div class="footer3">패밀리 사이트</div>
        </footer>
    </div>
</body>
</html>