<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout D-3</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="warp">
        <aside id="aside">
            <h1 >로고</h1>
            <nav>메뉴</nav>
        </aside>
        <main id="main">
            <article id="slider">
                이미지 슬라이드
                <div class="link">
                    링크
                </div>
            </article>
            <article id="banner">배너</article>
            <section id="contents">공지사항/갤러리</section>
        </main>
        <footer id="footer">
            <div class="footer1">로고
            </div>
            <div class="footer2">
                <div class="footer2-1">하단 메뉴</div>
                <div class="footer2-2">COPYRIGHT</div>
            </div>
        </footer>
    </div>
</body>
</html>